body{
    z-index: 1;
}

nav{
    background-color: #5cb85c;
    color : white;
    height:10%;
}

#main{
    max-width:100%;
    min-height:100%;
    margin:0 auto;
    position:relative;
}

.ap_succ {
    color : #5cb85c;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #5cb85c;
    text-align: center;
    color : white;
    padding-top: 5px;
    z-index: 2;
}

#pre_footer{
	text-align: center;
}

/*
footer>p{
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #5cb85c;
    text-align: center;
    color : white;
    padding-top: 5px;
}*/

.sous_titre{
    text-align: center;
}

.texte{
    text-align: center;
}

#grand{
    font-size: 40px;
}

.div_co{
    margin-top: 30px;
}

#form_co{
    border-style: inset;
    border-color: #5cb85c;
    background-color: rgba(92, 184, 92, 0.25)
}


.buttonUser{
    margin-left:20px;
}

#accueil_btn{
    margin-right: 15px;
}

aside{
    margin-left:40px;
}

.liste{
    overflow-y: auto;
    overflow-x: hidden;
    height: 450px;
}

.item_list{
    text-align: center;
}

#button_l{
    border-right-style: solid;
    border-right-color: white;
}

#button_r{
    border-left-style: solid;
    border-left-color: white;
}

#mesPostes{
    border-left-style: solid;
    border-left-color: black;
    border-right-style: solid;
    border-right-color: black;
    border-color: #5cb85c;
    text-align: center;

}
